.store1-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.store1-container1 img{
    display: block;
    width: 50% !important;
    margin: 0 auto;
}