.sidebar-content{
    min-height: 100vh;
    width: 20%;
    padding: 0 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    /* background: var(--page-bg); */
}
.sidebar-logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}
.menu-link{
    text-decoration: none;
}
.image-logo{
    width: 50%;
}
.image-logo img{
    width: 50%;
}
.sidebar-link{
    border-radius: 10px;
    padding: 1rem;
    /* margin: 1rem 0; */
    color: var(--color-text);
    /* font-weight: bold; */
    font-size: 18px;
    display: flex;
    align-items: center;
}
.sidebar-icon{
    margin-right: 1rem;
    font-size: 20px;
}
.sidebar-hover{
    background-color: var(--sidebar-hover);
}