.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.login-container{
    background-color: rgba(14, 14,14, 1);
    min-height: 100vh;
   
}
.login-form{
    padding: 3rem;
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 0.75rem;
    max-width: 600px;
    width: 100%;
    margin: 5rem auto;
    
}
.login-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.login-heading{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.login-hint{
    color: rgba(124, 124, 124, 1);
    margin-top: 1rem;
}
.field-heading{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}
.loginfield{
    width: 100%;
    margin-top: 1rem;
}
.login-submit{
    background-color: rgba(41, 45, 134, 1);
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-container{
    right: 0;
    left: 0;
    background-color: rgba(14, 14, 14, 1);
    border-color: rgba(60, 60, 60, 0.5);
    align-items: center;
    height: 5rem;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    color: white;
    z-index: 1000;
    padding: 0 1.75rem;
}

.container-dropdown{
    right: 0;
    background-color: rgba(19,19,34,1);
    border-radius: 0.5rem;
    width: 16rem;
    margin-top: 0.75rem;
    top: 100%;
    position: absolute;
    margin: 0px 1.75rem;
}
.dropdown-link{
    transition-duration: .1s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    font-weight: 500;
    padding: 0.25rem;
    border-radius: 0.25rem;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0.75rem;
    text-decoration: inherit;
    color: white;
}
.icon{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
hr{
    background-color: rgba(39,39,65,1);
    border-width: 0px;
    width: 100%;
    height: 1px;
    margin: 0;
}
.icon-logo{
    gap: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1rem 0;
}
.icon-anchor{
    color: rgba(103,103,144,1);
    background-color: rgba(30,30,50,1);
    border-radius: 10000px;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    text-decoration: inherit;
}
.logo-icon{
    font-size: 1.5rem;
    line-height: 2rem;
}