.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.login-container{
    background-color: rgba(14, 14,14, 1);
    min-height: 100vh;
}
.login-form{
    padding: 3rem;
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 0.75rem;
    max-width: 600px;
    width: 100%;
    margin: 5rem auto;
    
}
.login-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.login-heading{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.login-hint{
    color: rgba(124, 124, 124, 1);
    margin-top: 1rem;
}
.field-heading{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}
.loginfield{
    width: 100%;
    margin-top: 1rem;
}
.login-submit{
    background-color: rgba(41, 45, 134, 1);
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.login-header{
    right: 0;
    left: 0;
    background-color: rgba(14, 14, 14, 1);
    border-color: rgba(60, 60, 60, 0.5);
    align-items: center;
    height: 5rem;
    border-bottom-width: 1px;
    display: flex;
    position: fixed;
    color: white;
}
