.box-container{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    min-height: 100vh;
    background-color: #19191c;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url('../../assests/screen.svg'); */
}
.google-button{
    width: 50% !important;
    margin: 0 auto;
}
.otppppp-input{
    width: 50%;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
}
.login{
    background-image: url("../assests/layered-waves-haikei.png");
}

@media (max-width: 800px){
    .google-button{
        width: 100% !important;
    }
    .otppppp-input{
        width: 100%;
    }
}